.deneme{
  width: 50%;
  border: 0px solid #999;
  border-radius: 30px;
}
.navmenu {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
body {
  background:linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ),url("./Image/citybg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.prefix {
  color:#000;
}
.a{
  text-decoration: none;
}
.a:hover {
  color: white;
  text-decoration: none;
}