* {
    font-family: 'Fira Sans', sans-serif;
}

form {
    margin-top: 5%;
    padding: 20em;!important 
    height: 20em;
    width: 100%;
}
@media (min-width: 480px){
	form {
		padding: 20em;!important
		height: 20em;
		width: 75vw;
		margin-top: 5%;
	}
}
@media (min-width: 760px){
	form {
		padding: 20em;!important
		height: 20em;
		width: 50vw;
		margin-top: 5%;
	}
}
@media (min-width: 1080px){
	form {
		padding: 20em;!important
		height: 20em;
		width: 25vw;
		margin-top: 5%;
	}
}